
			.horse {
				margin-bottom: 20px;
			}
			.horse img{
				max-height: 50px;
			}
			

			#selected-horse, #winning-horse {
				margin-top: 20px;
				font-weight: bold;
				font-size: 2em;
			}
			#winning-horse {
				color: green;
			}
			#selected-horse {
				color: red;
			}
